@import 'src/styles/mixins';

.chat {
  @include flex-container();

  padding: 1rem;

  .chat-message {
    flex: auto;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .input-message-group {
    flex: 0;
  }
}
