<article class="col-12 d-flex flex-column justify-content-center align-items-center">


  <header>
    <h1>Login</h1>
  </header>

  <section class="col-9">
    <form class="" (ngSubmit)='signIn()'>

      <input  type="text"
              [(ngModel)]="name"
              name="name"
              class="form-control"
              placeholder="Name user.."
              autofocus>

              <button [disabled]="!name.trim().length"
                      class="btn btn-primary btn-block mt-3">
                      Ingresar
              </button>
    </form>
  </section>
</article>
